[submodule "3rd_party/kmer-db"]
	path = 3rd_party/kmer-db
	url = https://github.com/refresh-bio/kmer-db-dev.git
	branch = feature/v2
[submodule "3rd_party/rapid-cluster"]
	path = 3rd_party/rapid-cluster
	url = https://github.com/refresh-bio/rapid-cluster.git
[submodule "3rd_party/lz-ani"]
	path = 3rd_party/lz-ani
	url = https://github.com/refresh-bio/LZ-ANI.git
[submodule "3rd_party/isa-l"]
	path = 3rd_party/isa-l
	url = https://github.com/refresh-bio-dependencies/isa-l.git
